/* FONTS */

@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700');

/* BASE STYLES */

body {
  color: #000;
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
}
ul {
  margin: 15px 0;
}
p {
  margin: 5px 0;
}

/* CV STYLES */

.cv {
  width: 900px;
  margin: 0 auto;
}
.cv-col {
  width: 30%;
  padding: 30px 30px 30px 0;
  float: left;
  box-sizing: border-box;
}
.cv-col + .cv-col {
  padding: 30px;
  width: 70%;
}
.cv-col_inverse-color {
  background-color: lightblue;
}
.cv-col:first-child {
  padding-right: 30px;
}
.cv-person {
  margin-bottom: 50px;
}
.cv-person_photo {
  display: block;
  width: 200px;
  margin: 0 auto 30px;
}
.cv-person_name {
  margin: 0;
  color: black;
  font-size: 42px;
  text-transform: uppercase;
}
.cv-person_position {
  margin: 0;
  text-transform: uppercase;
}
.cv-info:not(:last-child) {
  margin-bottom: 30px;
}
.cv-info_contact {
  text-transform: uppercase;
}
.cv-info_contact a {
  color: black;
  font-weight: 600;
  text-decoration: none;
}
.cv-info_contact a:hover {
  text-decoration: underline;
}
.cv-info_title {
  padding: 10px;
  margin: 0 0 20px;
  color: #fff;
  text-transform: uppercase;
  background-color: lightblue;
}
.cv-col_inverse-color .cv-info_title {
  color: #000;
  background-color: #fff;
}
.cv-info_details:not(:last-child) {
  margin-bottom: 30px;
}
.cv-info_subtitle {
  margin: 0;
  font-size: 24px;
  line-height: 1.3;
  text-transform: uppercase;
}
.cv-info_subtitle span {
  display: block;
  font-weight: 400;
  text-transform: uppercase;
}
.cv-info_skills {
  display: inline-block;
  width: 40%;
  list-style: square;
  vertical-align: top;
}

#view-counter {
  display: inline-block;
}